img {
  width: 100%;
  position: absolute;
}

@media not all and (min-width: 640px) {
  img {
    height: 4rem;
    width: 100vw;
  }
}
@media (max-width: 334px) {
  img {
    height: 3rem;
  }
}
