:root {
  --bs-body-bg: #093545;
}
.main {
  position: relative;
  top: 8rem;
}
h1 {
  font-size: 64px;
}
@media not all and (min-width: 640px) {
  .main {
    top: 6rem;
  }
  h1 {
    font-size: 52px;
  }
  p {
    font-size: 15px;
  }
}
@media (max-width: 334px) {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 14px;
  }
}
